{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang='es'>
    <head>
    <title>Mi Proyecto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
    <nav>
        <div class="container mx-auto">
            <ul>
                <li class="text-5xl"><a href="{% url 'home' %}" >Inicio</a></li>
                <li class="text-5xl"><a href="{% url 'add_expense' %}" >Agregar Gasto</a></li>
                <li class="text-5xl"><a href="{% url 'add_income' %}" >Agregar Ingresooooooooooo</a></li>
                <li class="text-5xl"><a href="/logout_sesion" >Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mx-auto">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
