{% extends 'base.html' %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Añadir Ingreso</h2>
<form method="post" class="space-y-4">
    {% csrf_token %}
    <div>
        <label for="date" class="block text-gray-700 font-medium">Fecha:</label>
        <input type="date" name="date" id="date" class="w-full mt-1 p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
    </div>
    <div>
        <label for="amount" class="block text-gray-700 font-medium">Monto:</label>
        <input type="number" name="amount" step="0.01" id="amount" class="w-full mt-1 p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
    </div>
    <div>
        <label for="description" class="block text-gray-700 font-medium">Descripción:</label>
        <textarea name="description" id="description" class="w-full mt-1 p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500"></textarea>
    </div>
    <div>
        <label for="tipo" class="block
