{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Mi Proyecto de Facturación</title>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-wider">
    <nav class="bg-white shadow-lg">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <a href="{% url 'home' %}" class="text-2xl font-bold text-blue-600 hover:text-blue-800">
                Mi Proyecto
            </a>
            <ul class="flex space-x-6">
                <li><a href="{% url 'add_expense' %}" class="text-lg text-red-500 hover:text-red-700">Agregar Gasto</a></li>
                <li><a href="{% url 'add_income' %}" class="text-lg text-green-500 hover:text-green-700">Agregar Ingreso</a></li>
                <li><a href="/logout_sesion" class="text-lg text-gray-600 hover:text-gray-800">Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mx-auto py-8 px-4">
        <div class="bg-white shadow-md rounded-lg p-6">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
