{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Encuentra los mejores muebles para tu hogar en Casablanca Muebles. Visítanos en Tunja, Boyacá, y descubre nuestra gran variedad de productos.">
    <link rel="icon" href="{% static 'images/iconoo.ico' %}" type="image/x-icon">
    <title>Casablanca Muebles - Muebles modernos y elegantes en Tunja, Boyacá</title>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "CasaBlanca Muebles",
          "url": "https://casablancamuebles.com",
          "logo": "https://casablancamuebles.com/static/images/iconoo.ico", 
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+57 3102777178",
            "contactType": "Customer Service"
          }
        }
        </script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">

    <!-- Encabezado / Navbar -->
    <header class="bg-white shadow-md">
        <div class="container mx-auto px-6 py-4 flex justify-between items-center">
            <!-- Logo -->
            <a href="/">
                <img src="{% static 'images/log-casa.png' %}" alt="Logo de la empresa" class="h-16 w-auto md:h-24">
            </a>
    
            <!-- Botón del menú hamburguesa en dispositivos móviles -->
            <div class="md:hidden">
                <button id="menu-toggle" class="text-gray-600 hover:text-gray-800 focus:outline-none">
                    <!-- Icono de hamburguesa -->
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
                    </svg>
                </button>
            </div>
    
            <!-- Menú de navegación (oculto en móvil) -->
            <nav id="menu" class="hidden md:flex space-x-4 items-center">
                <a href="#inicio" class="text-gray-600 hover:text-gray-800 mx-4">Inicio</a>
                <a href="#productos" class="text-gray-600 hover:text-gray-800 mx-4">Productos</a>
                <a href="#ubicacion" class="text-gray-600 hover:text-gray-800 mx-4">Ubicación</a>
                <a href="#contacto" class="text-gray-600 hover:text-gray-800 mx-4">Contacto</a>
                <a href="{% url 'login' %}" class="bg-blue-500 text-white px-2 py-2 rounded-md hover:bg-blue-600 mx-2">Log-in</a>
            </nav>
        </div>
    
        <!-- Menú desplegable para móviles -->
        <nav id="mobile-menu" class="hidden flex-col items bg-white space-y-2 md:hidden px-4 py-4">
            <div class="flex flex-col items-start mt-3 gap-2">
                <a href="#inicio" class="text-gray-600 hover:text-gray-800 py-2">Inicio</a>
                <a href="#productos" class="text-gray-600 hover:text-gray-800 py-2">Productos</a>
                <a href="#ubicacion" class="text-gray-600 hover:text-gray-800 py-2">Ubicación</a>
                <a href="#contacto" class="text-gray-600 hover:text-gray-800 py-2">Contacto</a>
                <a href="{% url 'login' %}" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 mx-0.4">Log-in</a>
            </div>
            
        </nav>
    </header>
    

    <!-- Sección de presentación -->
    <section id="inicio" class="bg-cover bg-center" style="background-image: url('{% static 'images/furniture.jpg' %}'); height: 400px;">
        <div class="flex items-center justify-center h-full bg-black bg-opacity-50">
            <div class="text-center text-white">
                <h2 class="text-4xl font-semibold">Bienvenido a Casablanca Muebles</h2>
                <h3 class="mt-4 text-lg">Encuentra los mejores muebles para tu hogar en Casablanca Muebles. Visítanos en Tunja, Boyacá, y descubre nuestra gran variedad de productos.</h3>
                <a href="#productos" class="mt-8 inline-block bg-slate-900 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">Ver Productos</a>
            </div>
        </div>
    </section>

    <!-- Sección de Productos -->
    <section id="productos" class="container mx-auto px-6 py-16">
        <h2 class="text-3xl font-bold text-gray-800 mb-8">Nuestros Productos</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
            <!-- Card de producto -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <img class="w-full h-48 object-cover" src="{% static "images/fondo.jpg" %}" alt="Mueble 1">
                <div class="p-4">
                    <h3 class="font-semibold text-lg">Muebles de Salas</h3>
                    <p class="mt-2 text-gray-600">Todos los estilos de salas y sofas.</p>
                </div>
            </div>
            <!-- Repite las tarjetas según los productos -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <img class="w-full h-48 object-cover" src="{% static "images/alcoba.jpg" %}" alt="Mueble 1">
                <div class="p-4">
                    <h3 class="font-semibold text-lg">Muebles de Alcoba</h3>
                    <p class="mt-2 text-gray-600">Todo tipo de camas y muebles para habitaciones.</p>
                </div>
            </div>
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <img class="w-full h-48 object-cover" src="{% static "images/comedor.jpg" %}" alt="Mueble 1">
                <div class="p-4">
                    <h3 class="font-semibold text-lg">Mueble de Comedor</h3>
                    <p class="mt-2 text-gray-600">Nuestros mejores diseños en comedores.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Redes Sociales -->
    <section id="redes-sociales" class="bg-slate-900  py-16">
        <div class="container mx-auto px-6 text-center text-white">
            <h2 class="text-3xl font-bold mb-8">Síguenos en Nuestras Redes Sociales</h2>
            <div class="flex justify-center space-x-8">
                <a href="https://www.facebook.com/Casablancamueblesoficial" class="text-xl hover:text-gray-200">Facebook</a>
                <a href="https://www.instagram.com/casablancamueblesoficial/" class="text-xl hover:text-gray-200">Instagram</a>
            </div>
        </div>
    </section>

    <!-- Sección de Ubicación -->
    <section id="ubicacion" class="py-16">
        <div class="container mx-auto px-6 text-center">
            <h2 class="text-3xl font-bold text-gray-800 mb-8">Visitanos</h2>
            <p class="text-gray-600 mb-4">En nuestra tienda física:</p>
            <p class="text-lg font-semibold text-gray-700">Av oriental #10a - 15, Tunja - Boyaca, Colombia</p>
            <!-- Mapa de Google embebido -->
            <div class="mt-8">
                <iframe class="w-full h-64" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.2928137340928!2d-73.3655822250151!3d5.523499294456608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a7dd0eedf14e9%3A0xdd97f6c4bcd22005!2sCasablanca%20Muebles%20Tunja!5e0!3m2!1ses!2sco!4v1727987425519!5m2!1ses!2sco" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section>

    <!-- Pie de página -->
    <footer class="bg-gray-800 py-6">
        <div class="container mx-auto px-6 text-center text-white">
            <p class="text-sm">&copy; 2024 Casablanca Muebles. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="{% static 'js/menu.js' %}"></script>

</body>
</html>
