{% extends 'new_base.html' %}

{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-6">Catálogo de {{ categoria.nombre }}</h1>

<div class="grid grid-cols-3 gap-4">
    {% for mueble in muebles %}
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    {% if mueble.imagen %}
        <a href="{% url 'detalle_mueble' mueble.id %}">
        <img class="w-full h-48 object-cover" src="{{ mueble.imagen.url }}" alt="{{ mueble.nombre }}">
        <div class="p-4">
            <h3 class="font-semibold text-lg">{{ mueble.nombre }}</h3>
            <p class="mt-2 text-gray-600">Precio ${{ mueble.precio }}</p>
        </div>
        {% else %}
            <p>No hay imagen disponible</p>
        {% endif %}
    </div>
    {% empty %}
        <p>No hay productos en esta categoría.</p>
    {% endfor %}
</div>

{% endblock %}
